@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
  height: 100vh;
  background: url(../../public/images/line-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 18px;
}

.nav-bg {
  background-color: hsla(0, 0%, 100%, 0.1);
}


